{% extends 'FE1/base.html'%}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col l6">
            <h4>Ejemplo de Frontend para utilizar el simulador ressspi</h4>
            <a onclick="window.location='{% url 'simulator' %}'" class="waves-effect waves-light btn-small ">ENTRAR</a>   
        </div>
        <div class="col l6">
            <h4>Frontend example for using ressspi simulator</h4>
            <a onclick="window.location='{% url 'simulator' %}'" class="waves-effect waves-light btn-small ">ENTER</a>   
        </div>
           </div>

{% endblock %}